body {
  padding: 0px;
  margin: 0px;
}

.App {
  height: 100vh;
  display: flex;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  height: calc(100vh - 64px);
}

.form{
  width: 200px;
  margin: 0 auto;
  align-self: center;
  
}

.form .button {
  margin-top: 8px;
  width: 165px;
}
.button{
  margin-left: 8px;
  margin-top: 8px;
}

.card-title-container {
  margin-top: 16px;
}

.dashboard-container {
  width: 150vh;
  height: 200px;
  margin-top: 64px;
  margin-left: 128px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

h2 {
  margin-left:120px;
  color: rgb(160, 160, 160);
  margin-top: 30px;
}

h4 {
  margin-left:120px;
  margin-top: 30px;
}

p {
  margin-left:120px;
  margin-top: 30px;
}
